<div class="container">
  <div class="row">
    <div class="col-md-8">
      
    <h1>Modeling jobs</h1>
    
      <% @casts.each do |cast| %>
      <h2>'<%= cast.name %>'</h2>

      <hr class="heavy">
     
      <h3>Company:</h3>
      <%= cast.company %>
   
      <hr>

      <h3>Description:</h3>
      <%= cast.description %>
  
      <hr>

      <h3>Dates and locations:</h3>
      <%= cast.dates_locations %>

      <hr>

      <h3>Compensation:</h3>
      <%= cast.compensation %>
    
      <hr>

      <%= link_to 'Show', @cast %> 
      <% if cast.user == current_user %>
        | <%= link_to 'Edit', edit_cast_path(@cast) %> |
        <%= link_to 'Destroy', cast, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    
      <% end %>  
          
    </div>
  </div>
</div>
